.image-fluid{
    height: 50px;
}
/* a{
color: blue;
text-decoration: underline;
}

.form-check {
    padding-left: 0px;
}
.form-check .form-check-input {
    float: none;
    margin-left: 0.5em;
    display: inline-block;
} */
.app{
    padding: 0 !important;
}